/* baggrunde mm. */

body {
  background-color: blueviolet;
  /* background-image: url("C:\Users\user\Documents\GitHub\spillepladen\Images\nautre.jpg"); */
}

#screen {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(Images/nautre.jpg);
  background-size: cover;
  z-index: 1;
}

#game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#castle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: -10%;
  background-image: url(Images/castlefull500.png);
  z-index: 2;
}

#wall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: -10%;
  background-image: url(Images/casltecentertower.png);
  z-index: 30;
}
#sidetower {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(Images/casltesideower.png);
  z-index: 5;
}
#centertower {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: -10%;
  background-image: url(Images/casltecentertower.png);
  z-index: 5;
}
#toptower {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
  background-image: url(Images/castletop.png);
  z-index: 3;
}

.allsprites {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  width: 60%;
  z-index: 40;
}
.sprite {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 40;
}

/* elementer */
