/* baggrunde mm. */

body {
  margin: 0;
  /* background-color: blueviolet;
  background-size: cover; */
}

p {
  color: white;
}

img {
  width: 100%;
}

/* Hvorfor er min skærmbilledet så stort? */
/* d.14 put i grid her */
#screen {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  grid-area: 1/1;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url("Images/nature.png");
  background-repeat: no-repeat;
  grid-area: 1 / 1;
  background-size: cover;
  z-index: 1;
}

/* foregrounds */

#game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#castle {
  width: 60%;
  height: 60%;
  position: absolute;
  top: -9%;
  left: 20%;
  z-index: 10;
}

#wall {
  width: 62%;
  height: 62%;
  position: absolute;
  top: 60%;
  left: 18.9%;
  z-index: 50;
}

#leftTower {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 50.1%;
  left: 22%;
  z-index: 30;
}

#rightTower {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 51.1%;
  left: 67.5%;
  z-index: 30;
}

#centertower {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 43%;
  left: 41.9%;
  z-index: 40;
}

/* active elements */

/* ridder i forgrunden */
#sprite_container01 {
  width: 10%;
  position: absolute;
  /* top: 65%;
  left: 30%; */
  z-index: 43;
}

/* ridder i side tårn  */
#sprite_container02 {
  width: 10%;
  position: absolute;
  /* top: 40%;
  left: 67%; */
  z-index: 21;
}

/* kvinden */
#sprite_container03 {
  width: 6%;
  position: absolute;
  /* top: 60%;
  left: 60%;*/
  z-index: 44;
}

/* præsten */
#sprite_container04 {
  width: 6%;
  position: absolute;
  top: 65%;
  left: 45%;
  z-index: 26;
}

/* ridder i midtertårn */
#sprite_container05 {
  width: 10%;
  position: absolute;
  /* top: 35%;
  left: 45%; */
  z-index: 25;
}

.sprite {
  height: 100%;
  width: 100%;
}

/* UI ELEMENTS */

/* Hvordan pokker fungere det her mon? */
#point_display {
  left: 1%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
}

#points {
  white-space: nowrap;
  text-align: right;
  z-index: 90;
}

#pointman {
  height: 15%;
  width: 10%;
  position: absolute;
  z-index: 90;
}

#point {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}

#hp_container1 {
  width: 5%;
  top: 32%;
  left: 1%;
  position: absolute;
  z-index: 90;
}
#hp_container2 {
  width: 5%;
  top: 26%;
  left: 1%;
  position: absolute;
  z-index: 90;
}
#hp_container3 {
  width: 5%;
  top: 20%;
  left: 1%;
  position: absolute;
  z-index: 90;
}

/* STATE OVERLAY */
#start_screen {
  top: 10%;
  left: 0;
  position: absolute;
  z-index: 100;
}

#game_over {
  top: 10%;
  left: 0;
  position: absolute;
  z-index: 100;
}

#level_complete {
  top: 10%;
  left: 0;
  position: absolute;
  z-index: 100;
}

/* animations */
/* make them go up and down and fall/ tip over... */

/* UI ANIMATIONS */

/* Når der kun er 1 hjerte tilbage skal de pulsere */
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Når et hjerte forsvinder skal det rotere og skrumpe ind */
.gone {
  animation-name: gone;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes gone {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}

.hidden {
  display: none;
}

/* FIGURES ANIMATIONER */

/* ANIMATION FOR THE WOMAN-SPRITE */

.animationWall01 {
  /* positionen */
  top: 60%;
  left: 60%;
  z-index: 44;

  /* animationen */
  animation-name: animationWall01;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationWall01 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -50%);
  }
  80% {
    transform: translate(-350%, -50%);
  }
  100% {
    transform: translate(-350%, 0);
  }
}

.animationWall02 {
  /* positionen */
  top: 60%;
  left: 35%;

  /* animationen */
  animation-name: animationWall02;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationWall02 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -50%);
  }
  80% {
    transform: translate(350%, -50%);
  }
  100% {
    transform: translate(350%, 0);
  }
}

.animationWall03 {
  /* positionen */
  top: 60%;
  left: 35%;

  /* animationen */
  animation-name: animationWall03;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationWall03 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(200%, -50%);
  }
  60% {
    transform: translate(100%, -50%);
  }
  80% {
    transform: translate(350%, -50%);
  }
  100% {
    transform: translate(350%, 0);
  }
}

.animationWall04 {
  /* positionen */
  top: 60%;
  left: 45%;

  /* animationen */
  animation-name: animationWall04;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationWall04 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -50%);
  }
  40% {
    transform: translate(200%, -50%);
  }
  70% {
    transform: translate(-200%, -50%);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

.knightWall01 {
  top: 65%;
  left: 30%;

  animation-name: knightWall01;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes knightWall01 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -70%);
  }
  80% {
    transform: translate(300%, -70%);
  }
  100% {
    transform: translate(300%, 0);
  }
}

.knightWall02 {
  top: 65%;
  left: 60%;

  animation-name: knightWall02;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes knightWall02 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -70%);
  }
  80% {
    transform: translate(-300%, -70%);
  }
  100% {
    transform: translate(-300%, 0);
  }
}

.knightWall03 {
  top: 65%;
  left: 45%;

  animation-name: knightWall03;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes knightWall03 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -70%);
  }
  80% {
    transform: translate(-150%, -70%);
  }
  100% {
    transform: translate(-150%, 0);
  }
}

.knightWall04 {
  top: 65%;
  left: 45%;

  animation-name: knightWall04;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes knightWall04 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -70%);
  }
  80% {
    transform: translate(150%, -70%);
  }
  100% {
    transform: translate(150%, 0);
  }
}

/* AVOID Z-index colitions... 2/3 sprites with same animations but own Z-index */

.updown01 {
  top: 40%;
  left: 67%;

  animation-name: updown;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.updown02 {
  top: 35%;
  left: 45%;

  animation-name: updown;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.updown03 {
  top: 40%;
  left: 22%;

  animation-name: updown;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes updown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* En animation hvor præsten skifter tårn */
.wickerman {
  animation-name: wickerman;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wickerman {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, -150%);
  }
  30% {
    transform: translate(0, 0);
  }
  50% {
    tranform: translate(400%, 0);
  }
  70% {
    transform: translate(400%, 0%);
  }
  90% {
    transform: translate(400%, -130%);
  }
  100% {
    transform: translate(400%, 0);
  }
}

.fade_out {
  animation-name: fade_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.paused {
  animation-play-state: paused;
}
